<div id="forgetPasswordContainer">
    <!-- This div has flex on it. Main can't be separated by a div.. -->
  <main class="formResetPassword text-center">
    <h4 class="d-flex justify-content-center">AudioQuery</h4>
    <div class="card bg-light">
      <div class="card-body">
        <h1 class="h3 mb-3 fw-normal">Reset Your Password</h1>
        <form (ngSubmit)="onFormSubmit()" #f="ngForm">

          <span>Enter the email associated with the account you wish to reset the password for below</span>

          <!-- Email Input -->
          <div class="form-floating">
            <input ngModel required name="email" #email="ngModel" type="email" class="form-control" id="floatingInput"
              placeholder=" ">

            <label class="d-flex" for="floatingInput">
              <mat-icon> email </mat-icon>Email address
            </label>
          </div>

          <span class="help-block d-flex justify-content-left m-2" *ngIf="!email.valid && email.touched">Please enter
            your email!</span>

          <div class="alert alert-danger" *ngIf="errorMsg">
            {{errorMsg}}
          </div>
          <div class="alert alert-success" *ngIf="successMsg">
            {{successMsg}}
          </div>

          <button class="w-100 btn btn-lg btn-primary" [disabled]="!f.valid" type="submit">Send Email</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2022–2022</p>
        </form>
      </div>
    </div>
  </main>
</div>