.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: cadetblue;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}

.selectedAnswer{
    background: greenyellow;
}

#scoreboardScreen{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

#timerAsync{
    display: none;
}