<main class="px-3">

  <!-- <div>
    <span class="text-white">test</span>
    <span #asdf></span>
  </div> -->

  <!-- <iframe id='iframe' src="https://my.spline.design/mousehovercopy-8ceacdd24b1433f6adf40c3f34571c79/" title="description"></iframe> -->

  <div class="container">
    <section id="hero">
      <img class="d-flex align-center justify-content-center" id="logo" src="../../../assets/images/audioQueryLogo.jpg" alt="">
      <p class="lead text-white">Create audio based quizzes for you and your friends to enjoy.</p>
      <p id="btn-container" class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
      </p>
    </section>
    <section id="pin" class="d-flex align-center justify-content-center">
      <h2 class="text-white">Already have a game set up?</h2>
      <button (click)="directToPin()">Pin</button>
    </section>
  </div>
</main>