<footer>
    <hr>
    <div class="d-flex justify-content-between align-items-center text-muted p-1 m-2">
        <div>
            <span class="">Website built by Sam Soto &copy; 2022</span>
        </div>
        <div>
            <a (click)="goToLink('https://www.linkedin.com/in/samuel-soto-991723223/')"><img class="img-responsive"
                    src="../assets/images/linkedin.png" alt="Sam Soto's Linkedin"></a>
            <a (click)="goToLink('https://github.com/Samssoto1')"><img class="img-responsive"
                    src="../assets/images/github-dark.png" alt="Sam Soto's Github"></a>
        </div>
    </div>
</footer>