header{
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 0px;
}

#logo{
    max-width: 2.3em;
    /* margin-bottom: 1em; */
}

#logoInline{
    max-height: 5.4em;
    max-width: 14em;
    /* max-width: 16em; */
}