<div>
    <div class="noSelect" id="question" (click)="onEdit()" [ngClass]="{ errorBox: !question.isValid }">
        <span id="question-title">{{question?.questionTitle}}</span>
        <div>
            <button id="delete-btn" mat-raised-button (click)="onDelete(question?._id)"><mat-icon>delete_forever</mat-icon></button>
            <mat-icon [ngStyle]="{'visibility': (question.isValid) ? 'hidden' : 'visible'}" id="warningSymbol" class="warning" matTooltip="Must meet question requirements before playing this quiz" matTooltipClass="toolTipWarning" aria-label="Button that shows a red tooltip">error_outline</mat-icon>
        </div>
    </div>
</div>
