#profilePicture{
    width: 12em;
    height: 12em;
    border-radius: 50%;
}

#quiz-header{
    text-align: center;
}

.quiz{
    text-align: center;
    cursor: pointer;
}

.container-fluid{
    background-color: white;
}

#profileContainer{
    display: flex;
    flex-direction: column;
}

#profileContainer span{
    display: block;
}

#profileAdditional{
    float: right;
}

#favoritedAchievement{
    max-width: 15%;
}

#imgBox{
    display: flex;
    justify-content: space-between;
}

#achievements{
    
}

.achievement{
    max-width: 2em;
}